<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="idEnvio">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.idEnvio}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fechaRegistro">
      <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fechaEntrada">
      <th mat-header-cell *matHeaderCellDef> Fecha Entrada </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaEntrada}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="precioEnvio">
      <th mat-header-cell *matHeaderCellDef> Precio Envio</th>
      <td mat-cell *matCellDef="let element"> {{element.precioEnvio}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="descuento">
      <th mat-header-cell *matHeaderCellDef> Descuento </th>
      <td mat-cell *matCellDef="let element"> {{element.descuento}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fkCliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.fkCliente.nombres}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="numeroGuia">
      <th mat-header-cell *matHeaderCellDef> N° guia </th>
      <td mat-cell *matCellDef="let element"> {{element.fkEnvio != null ? element.fkEnvio.numeroGuia : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="bodega">
      <th mat-header-cell *matHeaderCellDef> Bodega </th>
      <td mat-cell *matCellDef="let element"> {{element.bodega}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>